@import "tailwindcss";

:root {
  --mainColor: #5f35f5;
  --mainBgColor: #fcfcfc;
  --authFontColor: #11175d;
  --mainFontColor: #000000;
}

@theme {
  --color-mainColor: var(--mainColor);
  --color-mainBgColor: var(--mainBgColor);
  --color-authFontColor: var(--authFontColor);
  --color-mainFontColor: var(--mainFontColor);
}

.active {
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  right: -6.5px;
  top: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #5f35f5;
  height: 100%;
  width: 20px;
}
